<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @person.name %>
</p>

<p>
  <b>Address1:</b>
  <%= @person.address1 %>
</p>

<p>
  <b>Address2:</b>
  <%= @person.address2 %>
</p>

<p>
  <b>City:</b>
  <%= @person.city %>
</p>

<p>
  <b>State:</b>
  <%= @person.state %>
</p>

<p>
  <b>Zip code:</b>
  <%= @person.zip_code %>
</p>

<p>
  <b>Country:</b>
  <%= @person.country %>
</p>

<p>
  <b>Phone:</b>
  <%= @person.phone %>
</p>

<p>
  <b>Email:</b>
  <%= @person.email %>
</p>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
